.hero img {
  position: absolute;
  top: 0;
  margin-top: -250px;
}
.hero {
  margin-bottom: 150px;
}
.hero > div {
  z-index: 10;
  position: relative;
  color: white;
  font-family: var(--lilita);
  font-size: 50px;
  text-align: center;
  padding-top: 50px;
  text-shadow: 0 0 30px rgb(60, 60, 60), 0 0 30px rgb(60, 60, 60);
}
