.banner {
  position: relative;
  z-index: 15;
}
.bannerDetails {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  color: white;
  left: 100px;
  text-align: center;
}
.bannerDetails h1 {
  color: var(--primary);
  font-size: 80px;
}
.banner img {
  width: 100%;
  height: 100vh;
  margin-top: -200px;
}
.chefs {
  margin-top: 50px;
}
.chefs h1 {
  text-align: center;
}
.chefs ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.chefs ul > li svg {
  margin-right: 10px;
  display: inline-block;
}
.card {
  border: none !important;
}

.cardImageContainer {
  height: 262px;
  overflow: hidden;
  border-radius: 8px;
}
.cardTitle {
  color: var(--primary);
  font-family: var(--lilita);
  margin: 20px 0;
  font-size: 30px;
}
