@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
:root {
  --primary: #f3c23d;
  --lilita: "Lilita One", cursive;
}

.loginIcon {
  width: 30px;
  height: 30px;
  position: absolute;
  margin-top: -3px;
}
.photoURL {
  height: auto;
  width: 40px;
  border-radius: 50%;
}
img {
  max-width: 100%;
}
.btn.btn-warning {
  background-color: var(--primary);
  font-weight: 600;
}
